h1, h3
{
    text-decoration: underline;
    text-align: center;
    color:green;
}

#sloth_image
{
    height:175px;
    width:175px;
}

p
{
    text-indent: 5%;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5pt;
}

strong
{
    font-style: italic;
    text-transform: uppercase;
}

table, td, th
{
    border: 2px dashed gray;
    border-collapse: collapse;
}